<div class="headerPage">
    <!-- <h1>DOCTIKA</h1> -->
    <nav>
      <div class="row">
        <ul class="main-nav1">
          <li><a [routerLink]="['/upload']">Features</a></li>
          <li><a [routerLink]="['signup']">Docs</a></li>
          <li><a (click)="onSignIn()">FAQS</a></li>
  
        </ul>
      </div>
    </nav>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>