.headerPage {
   background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url('https://images.pexels.com/photos/327064/pexels-photo-327064.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
   background-attachment: fixed;
   height:100vh;
   background-size: cover;
   background-position: center;
}

h1 {
   margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 40px;
    text-align: center;
    float: left;
    margin-top: 40px;
    margin-left: 30px;
}

.main-nav1 {
   float: right;
   /* removes bullets from list */
   list-style: none;
   margin-top: 25px;

}

.main-nav1 li {
   /* inline block to make it appear parrael instead of vertical */
   display: inline-block;
   margin-right: 40px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

 

.main-nav1 li a:link,
.main-nav1 li a:not([href]),
.main-nav1 li a:visited {
   color: #fff;
   /* removes underlines from list */
   text-decoration: none;
   text-transform: uppercase;
   font-size: 90%;
   padding-bottom: 5px;
   border-bottom: 2px solid transparent;
   transition: border-bottom 0.5s;
}

.main-nav1 li a:hover,
.main-nav1 li a:active {
   color: #fff;
   /* removes underlines from list */
   text-decoration: none;
   text-transform: uppercase;
   font-size: 90%;
   padding-bottom: 5px;
   border-bottom: 2px solid #cf6d17;
}







