<div *ngIf="employee">
        <div>
          <label>Full Name: </label> {{employee.name}}
        </div>
        <div *ngIf="employee.empId > 0">
          <label>Employee ID: </label> {{employee.empId}}
        </div>
        <a style="padding: 5px 10px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 12px" href={{employee.objectUrl}} class="btn btn-primary">
          Download Resume
        </a>
        <hr/>
      </div>