<h1>
  Google Places Autocomplete
</h1>
<div>
  <h2>Home Address:</h2>

  <p>
    <AutocompleteComponent (setAddress)="getAddress($event)" adressType="geocode"></AutocompleteComponent>
  </p>

  <b>Address: </b> {{formattedAddress}}
  <br><br>
  <h2>Office Address:</h2>

  <p>
    <AutocompleteComponent (setAddress)="getEstablishmentAddress($event)" adressType="establishment">
    </AutocompleteComponent>
  </p>
  <b>Address:</b> {{formattedEstablishmentAddress}}
  <br>
  <b>Phone:</b> {{phone}}
  <br>
  <input style="width: 50%; padding:5px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" type="text"
    [(ngModel)]="atryr" placeholder="enter id..." class="input">
  <input style="width: 50%; padding:5px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" type="text"
    [(ngModel)]="atryr" placeholder="enter id..." class="input">

</div>
