<div class="header-btn-box">
    <!-- <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <h3 style="margin-bottom: 25px;">Sign In</h3>
      <div class="col-sm-5 form-group">
          <input type="email" id="email" placeholder="Username" formControlName="email">
          <span class="help-block" style="font-size: 10px; white-space:nowrap;color: white; font-family: Arial, Helvetica, sans-serif"
          *ngIf="!signinForm.get('email').valid && signinForm.get('email').touched">Please enter a valid email!</span>
          <input type="password" id="password" placeholder="Password" formControlName="password">
          <span class="help-block" style="font-size: 10px; white-space:nowrap;color: white; font-family: Arial, Helvetica, sans-serif "
          *ngIf="!signinForm.get('password').valid && signinForm.get('password').touched">
          Invalid Password. 1 Special Char, LowerCase, UpperCase, number required</span>
          <button type="submit" [disabled]="!signinForm.valid" [ngStyle]="{color: signinForm.valid ? '#fff' : '#000'}">Login</button>
  
        </div>
  
    </form> -->
    <h1>DOCTIKA</h1>
    <h2>Multi Utility Search Tool</h2>
    <button (click)="login()" style="margin:0 auto; display:block;" mdbBtn type="button" color="default" rounded="true" outline="true" mdbWavesEffect>Enter</button>

  </div>
  